@font-face {
    font-family: 'basmalah';
    src: url('../data/fonts/QCF_BSML.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'SolaimanLipiNormal';
  src: url('SolaimanLipiNormal.woff') format('woff');       
  font-weight: normal;
  font-style: normal;
}
.surah_name {
    font-family: 'basmalah';
    direction: rtl;
    font-size: 18pt;
    text-align: center;
    line-height: 40px;
    background: url('../images/SurahPartition.png') no-repeat 70px;
    padding-top: 10px;
}

    .surah_name a {
        text-decoration: none;
        color: black;
    }

.basmalah {
    font-family: 'basmalah';
    direction: rtl;
    font-size: 18pt;
    text-align: center;
    line-height: 1.7em;
}

.ayah {
}

.line {
    direction: rtl;
    font-size: 30px;
    text-align: center;
    line-height: 1.6em;
}

#page001 .line {
    font-size: 42px;
}

#page002 .line {
    font-size: 42px;
}

.word {
    cursor: hand;
    cursor: pointer;
    color: #222;
    word-spacing: 4px;
    padding-left: 2px;
    padding-right: 2px;
    
}

.highlightword {

}

.ayah_number {
    text-align: center;
    cursor: hand;
    cursor: pointer;
    color:#040;
}

.feature_bar {
    position: absolute;
    left: 50%;
    top: 4px;
    z-index: 10000;
    word-spacing: 8px;
    margin-left: 120px;
    font-family: Arial;
}

.feature_bar a {
    color: #333;
    font-weight: normal;
    font-size: 25px;
    text-decoration: none;
}

#searchsurah_link {
    
}

#bookmarkPopup {
    height: 400px;
    width: 400px;
}

.searchsurah_link:hover {
    color: red; /*background-color: #ccffcc; -moz-border-radius: 10px; -webkit-border-radius: 10px; */
}

.error {
    color: red;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.5em;
    float: none;
    display: none;
}
.page {
    width: 550px;
    height: 822px;
    background: url('../images/QuranBackground.png?v=1') no-repeat 0px 0px;
    float: left;
    -webkit-user-select: none;
}

.page_content {
    margin-top: 50px;
}

body {
    background-color: #f7f1e5;
    margin: 0;
    padding: 0;
}

* {
    -webkit-font-smoothing: antialiased !important;
    -webkit-text-stroke: 0.2px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.word:hover {
    color: red; /*background-color: #ccffcc; -moz-border-radius: 10px; -webkit-border-radius: 10px; */
}

.ayah_number:hover {
    color: red; /*background-color: #ccffcc; -moz-border-radius: 10px; -webkit-border-radius: 10px; */
}

.tooltipster-base .arabic_word {
    color: lightgreen;
    font-size: 200%;
    margin-right: 0.5m;
}

.tooltipster-base .transliteration {
    color: yellow;
    font-family: Georgia;
    font-style: italic;
    margin-right: 0.5em;
}

.tooltipster-base .root {
    color: #f99;
    font-weight: bold;
    font-size: 150%;
}

.tooltipster-base .bangla_meaning {
    text-align: center;
    font-size: 12pt;
    font-family: SolaimanLipiNormal, Nikosh2, SolaimanLipi, Nikosh, NikoshBAN, Georgia, sans-serif !important;
    font-weigth: normal;
    line-height: 1.6em;
    color: yellow;
}

.tooltipster-base .indonesia_meaning {
    text-align: center;
    font-size: 12pt;
    font-weigth: bold;
    line-height: 1.6em;
    color: lightblue;
}

.tooltipster-base { max-width: 400px; }

.tooltipster-base .english_meaning {
    text-align: center;
    font-size: 12pt;
    font-weigth: bold;
    line-height: 1.6em;
    color: lightgreen;
}

.tooltipster-base .lemma {
    text-align: justify;
    font-size: 10pt;
    line-height: 1.6em;
    clear: both;
}

    .tooltipster-base .lemma span {
        color: lightgreen;
         font-size: 200%;
    
    }

.tooltipster-base .lemma_meaning {
    text-align: justify;
    font-size: 12pt;
    line-height: 1.6em;
    font-family: SolaimanLipiNormal, Nikosh2, SolaimanLipi, Nikosh, NikoshBAN, Georgia, sans-serif !important;
    font-weight: normal;
}

    .tooltipster-base .lemma_meaning span {
        color: yellow;
    }

/*.tooltipster-base .meaning_details {
    color: lightgrey;
    cursor: hand;
    cursor: pointer;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid dimgray;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}*/

.surah_title {
    position: absolute;
    left: 40px;
    top: 5px;
    text-align: center;
    width: 130px;
    vertical-align: middle;
    line-height: 38px;
    font-size: 16pt;
    font-weight: normal;
    font-family: 'basmalah';
    direction: rtl;
}

.surah_title a {
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.surah_title a:hover {
    color: red; /*background-color: #ccffcc; -moz-border-radius: 10px; -webkit-border-radius: 10px; */
}

.page_no a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.page_no {
    font-family: 'Arabic typesetting';
    direction: rtl;
    position: absolute;
    left: 260px;
    top: 792px;
    text-align: center;
    width: 30px;
    font-weight: bold;
}

#meaningPopup p {
    clear: both;
    color: lightcyan;
    font-family: Georgia;
}

#meaningPopup .bangla_meaning {
    /*font-weight: bold;*/
    font-family: SolaimanLipiNormal, Nikosh2, SolaimanLipi, Nikosh, NikoshBAN, Georgia, sans-serif !important;
    font-size: 120%;
}

#meaningPopup .arabic_word {
    font-size: 200%;
    font-family: 'Arabic Typesetting';
    direction: rtl;
}
#meaningPopup a {
    text-decoration: none;
    font-weight: normal;
    color: cyan;
    border-bottom: 1px dotted cyan;
}
#meaningPopup .frequency_wrap {
    margin-left: 5px; 
    font-size: 80%;
    font-style: italic;
    direction: ltr;
}

#meaningPopup .english_meaning {
    font-weight: bold;
    font-style: italic;
}

#meaningPopup .indonesia_meaning {
    font-weight: bold;
    font-style: italic;
}

#meaningPopup .lemma {
    font-size: 200%;
    font-family: 'Arabic Typesetting';
}

#meaningPopup .lemma_meaning {
    /*font-weight: bold;*/
    font-family: SolaimanLipiNormal, Nikosh2, SolaimanLipi, Nikosh, NikoshBAN, Georgia, sans-serif !important;
    font-size: 120%;
}

#meaningPopup .transliteration {
    font-weight: bold;
    font-size: 120%;
    font-style: italic;
}

#meaningPopup .root {
    font-size: 200%;
    font-family: 'Arabic Typesetting';
}

#meaningPopup .root_meanings {
    font-style: italic;
}

#meaningPopup span { color: lightgreen; }


#surahpanel .surah_name_english { font-weight: normal; }
#surahpanel .surah_name_arabic { font-weight: normal; font-family: 'basmalah'; direction: rtl; font-size: 14pt; }
#surahpanel .surah_name_bangla { font-weight: normal; font-family: SolaimanLipiNormal, Nikosh2, SolaimanLipi, Nikosh, NikoshBAN, Georgia, sans-serif !important; }


.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper, .ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
     background-color: #f7f1e5;
}
.ui-panel {
    width: 20em;
}

#home>.ui-content { padding: 0; }

 .swiper-container {
            height: 822px;
            width: 550px;
        }

        .swiper-slide {
            width: 550px;
            height: 822px;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }



.swiper-button-next {
    background: url('../images/left_button.png') !important; 
}

.swiper-button-prev {
    background: url('../images/right_button.png') !important;
}


#listDiv {
    position: absolute;
    top: 0px;
    left:0px;
    right: 0px;
    bottom: 0px;
    margin-top: 60px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

        #listDiv li span {
            margin-left: 0.5em;
            overflow: hidden;
            white-space:nowrap;
            text-overflow:ellipsis;            
            display:inline-block;
        }

#listDiv span.arabic {
    font-size: 140%;

    font-stretch: extra-condensed;
}


.listviewfix {
    margin: 0px !important;
}
        
.ayah-snippet {
    color: #666;
    font-style: italic;
    font-weight: normal;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;   
    margin-left: 10px;
}

.bangla_subtitle {
    clear: both;
    font-size: 10px;
    margin-left: 1em;
}

.bookmark-surahname {
    
}


.bookmarked_ayah {
    color: red;
}

#bookmark_ayah.bookmarked_ayah {
    color: cyan;
}

#meaningDetails {
    color: ivory;
    font-size: 30px;
    text-decoration: none;
    float: right;
}

#ayah_actions a {
    color: ivory;
    font-size: 30px;
    text-decoration: none;
    word-spacing: 5px;
}

#bookmark_word {
    color: ivory;
    font-size: 30px;
    text-decoration: none;
    float: right;
}

.bookmarked_word {
    color: red;
}

#bookmark_word.bookmarked_word {
    color: cyan;
}

.tooltip_actions {
    margin: 5px;
}

.ui-bar {
    border-top: solid 1px lightgrey;
    
}

.ui-listview, .ui-listview > li, .ui-listview > li > a {
    font-size: 12px;
}

table {
    
}

#VerbForms table, #VerbForms th, #VerbForms td {
    border: 1px solid #555;
    color: cyan;
    font-weight: normal;
    padding: 5px;
}

#VerbForms td {
    font-size: 150%;
}
#VerbForms {
    font-size: 120%;
    border-collapse: collapse;
}

#translationContent {
    overflow: auto;
    background-color:rgba(0,0,0,0.8);
    padding: 15px;
}

#translationPopup { width: 500px; color: white; height: 300px; }

#translationContent .surah {
    line-height: 40px;
    background: url('../images/SurahPartition.png') no-repeat 20px;
    text-align: center;
    color: black;
    font-family: SolaimanLipiNormal, Nikosh2, SolaimanLipi, Nikosh, NikoshBAN, Georgia, sans-serif;
    font-size: 15px;
}

p.verse, p.bismillah {
    position: relative;
    font-family: SolaimanLipiNormal, Nikosh2, SolaimanLipi, Nikosh, NikoshBAN, Georgia, sans-serif;
    line-height: 1.5em;
    font-size: 16px;
    margin: 0;
}

p.verse.highlighted {
    background-color: darkgreen;
}

